@tailwind base;
@tailwind components;
@tailwind utilities;

/* UNIDAD DE SISTEMA JAIRO AMAYA */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif; /* Cambiamos Roboto por tu fuente de marca */
  background-color: #000000 !important; /* Negro Puro para fundirse con la web */
  color: #ffffff;
}

/* OCULTAR SCROLLBAR: Para que no parezca un frame embebido */
::-webkit-scrollbar {
  display: none;
}

/* CAPA DE ESTILO MAGENTA SORPRENDENTE (Inyección Pasiva) */
@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --primary: 335 71% 51%; /* El Magenta de tu marca #db2777 */
    --card: 0 0% 2%;
    --border: 0 0% 10%;
  }
}

/* Forzar que los elementos oscuros de la matriz sean negros reales */
.bg-slate-900, .bg-slate-800, .bg-gray-900 {
  background-color: #000000 !important;
}

/* Darle el toque Jairo Amaya a los acentos azules que trae Tailwind por defecto */
.bg-blue-600, .bg-indigo-600, .bg-primary {
  background: linear-gradient(90deg, #db2777 0%, #4c1d95 100%) !important;
  border: none !important;
}

.text-blue-600, .text-indigo-400 {
  color: #db2777 !important;
}
